div(ng-controller="nomEpisodeCtrl")
  h4 Current Station: {{ station }}
  h4 Choose an episode:
  label Station:
    input(type="text" 
          typeahead="station for stations in getStations()" 
          typeahead-on-select="onStationChange()" 
          ng-model="station" class="form-control")
  label Program:
    input(type="text" 
          typeahead="program for program in getPrograms()" 
          typeahead-on-select="onProgramChange()" 
          ng-model="program" 
          class="form-control")
  label Episode:
    input(type="text" 
          typeahead="episode for episode in episodes()" 
          typeahead-on-select="onEpisodeChange()" 
          ng-model= "episode" 
          class="form-control")